###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
*.ps1 linguist-language=csharp